*{
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #1E1E24;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* MENU STYLE - MENU HAMBURGUESA - MOBILE*/
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px; 
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed; 
    top: 20px;
    right: 10px; 
    z-index: 2; 
}

.bar {
    width: 100%; 
    height: 4px; 
    background-color: white;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgb(168, 153, 110, 1);
}

.nav-menu {
    display: none;
    position: fixed; 
    top: 0;
    right: 0;
    width: 250px;
    height: 100%; 
    background-color: #1E1E24; 
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    padding-top: 70px; 
    padding-left: 20px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    margin-bottom: 20px;
    font-size: 18px;
    color: white; 
    cursor: pointer;
}

.menu-list li:hover {
    color: white;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: white;
}

.nav-menu.active {
    display: block;
}

header ul{
    list-style: none;
    display: block;
    text-align: left;   
}

/* LI STYLE - LISTAS */
.menu-a:visited{
    color: white;
}

.li-menu {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.li-menu {
  --primary-color: #111;
  --hovered-color: #A8996E;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.li-menu {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.li-menu::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.li-menu:hover::after {
  width: 100%;
}

.li-menu:hover a::before {
  width: 100%;
}

/* HEADER STYLE - HEADER DESKTOP */
header {
    display: flex;
    justify-content: flex-end;
}

.header-desktop {
    padding: 20px 15px;
}

.nav-header{
    margin-left: auto;
}

/* Estilos del menú */
.nav-header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-header .menu li {
    margin: 0;
}

.nav-header .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
}

/* Subrayado animado */
.nav-header .menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A8996E;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-header .menu li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* CONTAINER STYLE - PRESENTACION */
.container{
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 90vh;
}

.presentacion{
    display: flex;
    flex-direction: column;    
}

.img-perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.tlt{
    font-size: 30px;
    font-weight: bold;
}

.subtlt-1{
    display: flex;
    align-items: center;
    width: 100%;
}

.text-subtlt-1{
    font-size: 15px;
    font-weight: lighter;
    margin-right: 10x;
}

.line {
    border-top: 4px solid #A8996E; 
    width: 50%;
    margin-left: 5px;
}

.subtlt-2{
    display: block;
    font-size: 12px;
    font-weight:normal;
    color: #A8996E;
    text-align: right;
}

/* REDES SOCIALES STYLE - GITHUB & LINKEDIN LOGO */
.nav-redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25px;
    height: 25px;
}

.nav-a-redes {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 24px;
}

.github-icon{
    opacity: 75%;
    width: 25px;
    height: 25px;
}

.linkedin-icon{
    opacity: 75%;
    width: 25px;
    height: 25px;
}

/* ARROW STYLE - FLECHA */
.arrow-down{
    display: flex;
    justify-content: center;
    position: relative;
    animation: updown 2s infinite;
}

@keyframes updown {
    0% {
        top: 0;
    }
    50% {
        top: 8px;
    }
    100% {
        top: 0;
    }
}

/* MAIN STYLES - SECCIONES WEB */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    line-height: 2px;
    color: #A8996E;
}

.inter-line {
    width: 100%;
    height: 1px;
    border-top: 4px solid rgb(168, 153, 110, 0.5); 
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

/* SOBRE MI STYLE - SECCION SOBRE MI */
.container-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre-mi{
    padding: 5px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
  
  /* Para todos los Social Containers */
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: #2C2C35;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
  /* Youtube*/
.containerOne:hover {
    background-color: #d62929;
    transition-duration: .3s;
}
  /* Tiktok */
.containerTwo:hover {
    background-color: #a300ee;
    transition-duration: .3s;
}
  /* Linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
  /* Github*/
.containerFour:hover {
    background-color: #515857;
    transition-duration: .3s;
}
  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}  

/* WORK STYLE - STATUS DE TRABAJO */
#status-indicator {
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #2C2C35;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); 
}

#status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green; 
    margin-right: 5px;
}

#status-text {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    color: white;
}

/* TECNOLOGIAS STYLE - SECCION TECNOLOGIAS (LENGUAJES & FRAMEWORKS) */
.container-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtlt-tecnologias{
    font-size: 40px;
    font-weight: lighter;
    margin: 15px;
}

.bubles{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.circle-html{
    box-shadow: 0 0 10px rgba(207, 127, 12, 1);
    background-color: #2C2C35;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.circle-css{
    box-shadow: 0 0 10px rgba(0, 159, 189, 1);
    background-color: #2C2C35;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.circle-javas{
    box-shadow: 0 0 10px rgba(227, 203, 0, 1);
    background-color: #2C2C35;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.circle-java{
    box-shadow: 0 0 10px rgba(227, 138, 0, 1);
    background-color: #2C2C35;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.circle-react{
    box-shadow: 0 0 10px rgba(0, 227, 195, 1);
    background-color: #2C2C35;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.circle-html:hover , .circle-css:hover , .circle-javas:hover , 
.circle-java:hover , .circle-react:hover {
    transform: translateY(-10px);
}

.nombre-tecnologia {
    position: absolute;
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #2C2C35;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    white-space: nowrap;
}

.circle-html, .circle-css, .circle-javas, .circle-java, .circle-react {
    position: relative;
}

.circle-html:hover .nombre-tecnologia, 
.circle-css:hover .nombre-tecnologia, 
.circle-javas:hover .nombre-tecnologia, 
.circle-java:hover .nombre-tecnologia, 
.circle-react:hover .nombre-tecnologia {
    opacity: 1; 
}

/* PROYECTOS STYLE - SECCION PROYECTOS */
.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview-proyecto{
    box-shadow: 0 0 15px rgb(168, 153, 110, 1);
    border-radius: 5px;
    margin-bottom: 35px;
}

/* CONTACTAME STYLE - SECCION CONTACTO (FORM & COPIAR MAIL) */
.copiar-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mail{
    font-size: 15px;
    font-weight: bold;
    color: #A8996E;
}

.btn-copiar {
    padding: 2px 5px;
    background-color: rgb(44, 44, 53, 0);
    color: white;
    border: 2px white;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #2C2C35;
    line-height: 5px;
}

/* MEDIA QUERY MOBILE */
@media (max-width: 768px) {
    .header-desktop {
        display: none;
    }
}

/* MEDIA QUERY DESKTOP */
@media (min-width: 720px) {
    /* MENU HAMBURGUESA DESACTIVADO */
    .menu-toggle{
        display: none;
    }

    /* HEADER DESKTOP ACTIVADO */
    .header-desktop {
        display: block;
    }
    
    /* PRESENTACION */
    .img-perfil{
        width: 180px;
        height: 180px;
    }

    .tlt{
        font-size: 60px;
    }

    .text-subtlt-1{
        font-size: 20px;
    }

    .line{
        width: 70%;
    }

    .subtlt-2{
        font-size: 24px;
    }
}